h1 {
    text-align: center;
}

#bday-input {
    display: block;
    margin: auto;
    width: 20%;
    height: 2rem;
}

#show-btn {
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20%;
    height: 2.5rem;
    background-color: blueviolet;
    border-color: white;
    border-radius: 0.5rem;
}

#result {
    text-align: center;
}